@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px 24px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
  justify-content:space-between;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 100px;
}

a:link, a:visited {
  text-decoration: none;
  color: grey;
}

.header {
  display: flex;
  bottom: 16px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 16px;
}